$menu-bg-color: #f8f8fc;
$menu-shadow-color: #a8a8a8;
$menu-width: 26px;
$menu-font-size: 14px;
$menu-font-color: #666666;
$btn-active-color: #f9e7d0;
$btn-hover-color: #F8EBDEFF;
$background-color: #ffffff;

$paper-bg-color: #fcfcf1;
$paper-border-color: #ecdddd;

$menu-border-color: #dfdeda;
